---
layout: default
title: About
---

<h2>Robert Speicher</h2>

<p>
  I'm a developer at <a href="https://about.gitlab.com/">GitLab</a>. I love
  Ruby, Vim, Git, and the Oxford comma.
</p>

<p>This site is powered by <a href="http://jekyllrb.com/">Jekyll</a>, 
<a href="http://foundation.zurb.com/">Foundation</a>, 
<a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>, 
and <a href="http://octokit.github.io/">Octokit.rb</a>.
The source is available on
<a href="https://github.com/tsigo/tsigo.github.io/"><strike>GitHub</strike></a>
<a href="https://gitlab.com/rspeicher/rspeicher.gitlab.io/">GitLab</a>.</p>

<hr />

<h3>Projects</h3>

{% include projects.html %}

<hr />

<h3>Open Source Contributions</h3>

<p>In addition to my own projects, I also commit to other projects when I can
find a way to contribute. Below are samples of my past contributions.</p>

{% include open-source.html %}
