<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{{ page.title }} - {{ site.name }}</title>

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/foundation.css" />
  <link rel="stylesheet" href="/css/main.css" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/pygments-monokai.css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/vendor/custom.modernizr.js"></script>

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

</head>
<body>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="/">{{ site.name }}</a></h1></li>
        <li class="toggle-topbar menu-icon right"><a href="#"><span/></a></li>
      </ul>
      <section class="top-bar-section">
        <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        </ul>
      </section>
      <section class="top-bar-section">
        <ul class="right">
          <li><a href="https://gitlab.com/u/rspeicher/"><i class="icon-gitlab"></i> GitLab</a></li>
          <li><a href="https://github.com/tsigo/"><i class="icon-github"></i> GitHub</a></li>
          <li><a href="https://twitter.com/rspeicher/"><i class="icon-twitter"></i> Twitter</a></li>
          <li><a href="http://rspeicher.gitlab.io/feed.xml"><i class="icon-rss"></i> RSS</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row">
    <div class="columns">
      {{ content }}
    </div>
  </div>

  <script src="/js/foundation.min.js"></script>
  <script>$(document).foundation();</script>
</body>
</html>
